Package: com.nobody.
Priority: optional
Name:
Version:
Section:
Architecture: iphoneos-arm
Depends:
Pre-Depends: dpkg
Provides:
Maintainer: Nobody <nobody@nobody.com>
Homepage:
Tag:
Description: iOSRepo Project | Compiled for ARM64.
